{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ 'global.action.validate'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
